<% include ../partials/header %>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10 col-md-5 col-sm-12 px-5">
				<!--First Division-->
				<h1 class="mt-5 pl-5 pr-5 text-center f-30 txt-gray">Employee Self Service.</h1>
				<hr />
				<div class="row mt-5">
				<div class="col-lg-6 col-md-6 col-sm-12 feature-txt">
						<img src="/images/bg1.jpg" class="homeImg" title="" alt="" />
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 feature-txt">
						<h6 class="mb-1 txt-blue">Personal Information</h6>
						<p class="f-14 text-secondary">By ESS, Nitya HRMS enables employees of your organization to access and update their own data and records based on the rights to change which generally includes their address, phone numbers, martial status, family information, emergency contacts, etc. helps ensure that all records are updated properly.</p>
            <p class="f-14 text-secondary">For Each changes/ modification, HR and approver will get notification and approver can approve after it verification.</p>
            <hr>
            <h6 class="mb-1 txt-blue">Application for Leave</h6>
            <p class="f-14 text-secondary">Employees can apply for leaves through Nitya HRMS as well as can view their leave request details and leave history. Employees can track their leave request and send reminder emails to their manager or appropriate authority.</p>
            <p class="f-14 text-secondary">Managers/Approvers can view in the dashboard and can approve or reject the leaves based on the presence of manpower.</p>

					</div>
          <div class="col-lg-6 col-md-6 col-sm-12 feature-txt">

          </div>
				</div>

				<hr class="feature-divider">

				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 feature-txt">
            <h6 class="mb-1 txt-blue">Request to Change Data</h6>
						<p class="f-14 text-secondary">As employees can send request to change their data, automated emails will be triggered to HR (admin access) about the changes made by the employee to their profile data.</p>
            <p class="f-14 text-secondary">HR personnel can approve or reject the changes after reviewing the documentation provided by the employee for the changes to the profile data. </p>
            <hr>
            <h6 class="mb-1 txt-blue">Claims</h6>
            <p class="f-14 text-secondary">Nitya HRMS, Claim Management Module enables employees to apply for reimbursement of official expenses and provide scanned documents of bills and supporting documents.</p>
            <p class="f-14 text-secondary">Approvers can review these document and approve or reject the claim, submitted by the employee.</p>
            <hr>
            <h6 class="mb-1 txt-blue">Pay Slip</h6>
            <p class="f-14 text-secondary">Nitya HRMS enables employees to view and down pay slips any time, after payroll process has been done.</p>

					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 feature-txt">
						<img src="/images/bg1.jpg" class="homeImg" title="" alt="" />
					</div>
          <hr class="feature-divider">

				</div>

			</div>



			<div class="col-lg-2 col-md-2 bg-info p-0">
				<!--Third Division-->
				<div class="list-group text-center">
					<a href="/pages/employeeselfservicefeature" class="list-group-item list-group-item-action active">
					<h6 class="mb-0">Employee Self Service</h6>
					</a>
					<a href="/pages/attendancemanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Attendance Management</h6>
					</a>
					<a href="/pages/leavemanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Leave Management</h6>
					</a>
					<a href="/pages/employeedirectoryfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Employee Directory</h6>
					</a>
					<a href="/pages/claimmanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Claims Management</h6>

					</a>
					<a href="/pages/performancemanagementpage" class="list-group-item list-group-item-action ">
					<h6 class="mb-0">Performance Management</h6>

					</a>
					<a href="/pages/payrollmanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Pay-Roll Management</h6>
					</a>
					<a href="/pages/travelprocessmanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Travels & OD Management</h6>
					</a>
					<a href="/pages/trainingmanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Training Management</h6>
					</a>
					<a href="/pages/processautomationfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Process Automation</h6>
					</a>
					<a href="/pages/documentstoragefeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Document Storage & Management</h6>
					</a>

					<a href="/pages/mobileapplicationpage" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Mobile Application</h6>
					</a>
				</div>
			</div>
		</div>
	</div>

  <% include ../partials/footer %>
