<% include ../partials/header %>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10 col-md-5 col-sm-12 px-5">
				<!--First Division-->
				<h1 class="mt-5 pl-5 pr-5 text-center f-30 txt-gray">Leave Management.</h1>
				<hr />
				<div class="row mt-5">
				<div class="col-lg-6 col-md-6 col-sm-12 feature-txt">
						<img src="/images/bg1.jpg" class="homeImg" title="" alt="" />
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 feature-txt">
						<h6 class="mb-1 txt-blue">Leave Application</h6>
						<p class="f-14 text-secondary"> Employees can apply for leaves through Nitya HRMS as well as can view their leave request details and leave history. Employees can track their leave request and send reminder emails to their manager or appropriate authority. </p>
            <p class="f-14 text-secondary">Managers/Approvers can view in the dashboard and can approve or reject the leaves based on the presence of manpower.</p>
            <hr>
            <h6 class="mb-1 txt-blue">Leave Approval</h6>
            <p class="f-14 text-secondary">Nitya HRMS enables you to setup a multi-level approval for leave applications. The Approver will get the details of leave application and can approve or reject the applications.</p>

						<hr>
            <h6 class="mb-1 txt-blue">Leave History</h6>
            <p class="f-14 text-secondary">Employees and their manager will be able to view the leave history. All the applications and approval or rejections. Reports can be generated for each employee.</p>

						<hr>
            <h6 class="mb-1 txt-blue">Holidays</h6>
            <p class="f-14 text-secondary">You can manage weekly off’s and Annual holiday list for periodic yearly holidays and add any additional holiday that occurs only once a year.</p>

						<hr>
            <h6 class="mb-1 txt-blue">Leave Calendar</h6>
            <p class="f-14 text-secondary">It enables the Team managers  to view Leave calendar in their dashboards to get an overview of the number of people who are on vacation on a given month.</p>
						<p class="f-14 text-secondary">HR personnel will be able to view all the approved leave requests for all employees on vacation for a given month on their dashboard.</p>
					</div>
          <div class="col-lg-6 col-md-6 col-sm-12 feature-txt">

          </div>
				</div>

				<hr class="feature-divider">
			</div>



			<div class="col-lg-2 col-md-2 bg-info p-0">
				<!--Third Division-->
				<div class="list-group text-center">
					<a href="/pages/employeeselfservicefeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Employee Self Service</h6>
					</a>
					<a href="/pages/attendancemanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Attendance Management</h6>
					</a>
					<a href="/pages/leavemanagementfeature" class="list-group-item list-group-item-action active">
					<h6 class="mb-0">Leave Management</h6>
					</a>
					<a href="/pages/employeedirectoryfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Employee Directory</h6>
					</a>
					<a href="/pages/claimmanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Claims Management</h6>

					</a>
					<a href="/pages/performancemanagementpage" class="list-group-item list-group-item-action ">
					<h6 class="mb-0">Performance Management</h6>

					</a>
					<a href="/pages/payrollmanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Pay-Roll Management</h6>
					</a>
					<a href="/pages/travelprocessmanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Travels & OD Management</h6>
					</a>
					<a href="/pages/trainingmanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Training Management</h6>
					</a>
					<a href="/pages/processautomationfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Process Automation</h6>
					</a>
					<a href="/pages/documentstoragefeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Document Storage & Management</h6>
					</a>

					<a href="/pages/mobileapplicationpage" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Mobile Application</h6>
					</a>
				</div>
			</div>
		</div>
	</div>

  <% include ../partials/footer %>
