<% include ../partials/header %>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10 col-md-5 col-sm-12 px-5">
				<!--First Division-->
				<h1 class="mt-5 pl-5 pr-5 text-center f-30 txt-gray">Pay Roll Management.</h1>
				<hr />
				<div class="row mt-5">
				<div class="col-lg-6 col-md-6 col-sm-12 feature-txt">
						<img src="/images/bg1.jpg" class="homeImg" title="" alt="" />
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 feature-txt">
						<h6 class="mb-1 txt-blue">Pay Roll Management.</h6>
						<p class="f-14 text-secondary">You can process your payroll with pressing a single button by Nitya HRMS.  All the data which includes attendance, Leave, OD data  will be assessed automatically for payroll processing. It will take 10-15 minutes to process and finalize the salary register. </p>
            <hr>
            <p class="f-14 text-secondary">Nitya HRMS is one of best HR and Payroll software in India, who is offering customized and innovative payroll solutions to companies across the country. Whether you are a small or large organization, we have a customized solution for all your payroll requirements.</p>
            <p class="f-14 text-secondary">We provide a comprehensive way out and a fully grievance coped service that is easy to operate and understand.
Our working professional & also Managing Director is highly skilled professional payroll processors who believes in making the payroll system absolutely simple, without compromising on quality and productivity. The adherence to timely delivery of payroll distribution and accurateness makes us the  best HR and payroll software in India. Without being stressed with HR and payroll, you can concentrate on other core issues of the company.</p>

						<hr>
            <h6 class="mb-1 txt-blue">Key features of our payroll management system</h6>
						<ul class="list-group">
						  <li class="list-group-item txt-gray">Effective tax calculation.</li>
						  <li class="list-group-item txt-gray">Tax declaration system.</li>
						  <li class="list-group-item txt-gray">Attractive statutory reports that are vital to every organization.</li>
						  <li class="list-group-item txt-gray">Easy accessibility and less dependency on HR personnel.</li>
						  <li class="list-group-item txt-gray">Tracking of recruitment management and training management.</li>
							<li class="list-group-item txt-gray">Regular system upgrades.</li>
							<li class="list-group-item txt-gray">Systematized attendance management and administration.</li>
							<li class="list-group-item txt-gray">Payroll management system also caters to claims, induction and exit management system and much more.</li>

					</ul>
            <p class="f-14 text-secondary">With an entire gamut of HR and payroll features, there is nothing better than Nitya HRMS that provides you solutions to all your problems. We show you the path forward and handhold your business till it achieves complete digital transformation in payroll accessibility.</p>

					</div>
          <div class="col-lg-6 col-md-6 col-sm-12 feature-txt">

          </div>
				</div>

				<hr class="feature-divider">
			</div>



			<div class="col-lg-2 col-md-2 bg-info p-0">
				<!--Third Division-->
				<div class="list-group text-center">
					<a href="/pages/employeeselfservicefeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Employee Self Service</h6>
					</a>
					<a href="/pages/attendancemanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Attendance Management</h6>
					</a>
					<a href="/pages/leavemanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Leave Management</h6>
					</a>
					<a href="/pages/employeedirectoryfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Employee Directory</h6>
					</a>
					<a href="/pages/claimmanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Claims Management</h6>

					</a>
					<a href="/pages/performancemanagementpage" class="list-group-item list-group-item-action ">
					<h6 class="mb-0">Performance Management</h6>

					</a>
					<a href="/pages/payrollmanagementfeature" class="list-group-item list-group-item-action active">
					<h6 class="mb-0">Pay-Roll Management</h6>
					</a>
					<a href="/pages/travelprocessmanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Travels & OD Management</h6>
					</a>
					<a href="/pages/trainingmanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Training Management</h6>
					</a>
					<a href="/pages/processautomationfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Process Automation</h6>
					</a>
					<a href="/pages/documentstoragefeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Document Storage & Management</h6>
					</a>

					<a href="/pages/mobileapplicationpage" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Mobile Application</h6>
					</a>
				</div>
			</div>
		</div>
	</div>

  <% include ../partials/footer %>
