<% include ../partials/header %>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10 col-md-5 col-sm-12 px-5">
				<!--First Division-->
				<h1 class="mt-5 pl-5 pr-5 text-center f-30 txt-gray">Process Automation.</h1>
				<hr />
				<div class="row mt-5">
				<div class="col-lg-6 col-md-6 col-sm-12 feature-txt">
						<img src="/images/bg1.jpg" class="homeImg" title="" alt="" />
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 feature-txt">
						<h6 class="mb-1 txt-blue">Birthday Wishes</h6>
						<p class="f-14 text-secondary">Nitya HRMS will send an automated email to the employee on their birthday. All employees  can view the birthdays on their dashboard. </p>
            <p class="f-14 text-secondary">Nitya HRMS will also send you a notification about the birthday list every day.</p>
            <hr>
            <h6 class="mb-1 txt-blue">Work Anniversaries</h6>
            <p class="f-14 text-secondary">Nitya HRMS will send an automated email to the employee on their work anniversaries. All employees  can view the work anniversaries on their dashboard.</p>
            <p class="f-14 text-secondary">Nitya HRMS will also send you a notification about the work anniversaries list every day.</p>

						<hr>
            <h6 class="mb-1 txt-blue">Reminders</h6>
            <p class="f-14 text-secondary">Leave approver will get reminders through emails until they approve/reject the leaves. </p>
						<p class="f-14 text-secondary">You can set the number of days in the settings screen for reminders.</p>

						<hr>
            <h6 class="mb-1 txt-blue">Approval Process</h6>
            <p class="f-14 text-secondary">Nitya HRMS helps you to set your approval workflows. You can setup a rule for your entire organization and add exceptions to the rule. </p>
						<p class="f-14 text-secondary">You can setup rules for leave, Claims and travel management.</p>

						<hr>
            <h6 class="mb-1 txt-blue">Check-Lists</h6>
            <p class="f-14 text-secondary">You can create and maintain different versions of Induction checklist. It will automatically added to the new employee.</p>
						<p class="f-14 text-secondary">You can define and maintain different versions of the separation checklist. Every time an employee decides to leave your organization and you set the status to resigned a separation process is automatically added to the user.</p>

						<hr>
            <h6 class="mb-1 txt-blue">Leave Type</h6>
            <p class="f-14 text-secondary">Customize predefined leave types or create new leave types as per your company’s leave policy. Leave Tracker allows you to color code each leave type, enable leave restrictions, customize leave types by location, roles/employees and much more!</p>
						<p class="f-14 text-secondary">You can define and maintain different versions of the separation checklist. Every time an employee decides to leave your organization and you set the status to resigned a separation process is automatically added to the user.</p>

						<hr>
            <h6 class="mb-1 txt-blue">Exit Interview</h6>
            <p class="f-14 text-secondary">Setup an exit interview process by defining the questions you want to ask your employees. You can also preview the form during design time.</p>
						<p class="f-14 text-secondary">Exit interview is automatically visible to the resigned employees and a reminder is sent to the employee to fill up the exit interview. You can later view the exit interview response as a report.</p>



					</div>
          <div class="col-lg-6 col-md-6 col-sm-12 feature-txt">

          </div>
				</div>

				<hr class="feature-divider">
			</div>



			<div class="col-lg-2 col-md-2 bg-info p-0">
				<!--Third Division-->
				<div class="list-group text-center">
					<a href="/pages/employeeselfservicefeature" class="list-group-item list-group-item-action ">
					<h6 class="mb-0">Employee Self Service</h6>
					</a>
					<a href="/pages/attendancemanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Attendance Management</h6>
					</a>
					<a href="/pages/leavemanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Leave Management</h6>
					</a>
					<a href="/pages/employeedirectoryfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Employee Directory</h6>
					</a>
					<a href="/pages/claimmanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Claims Management</h6>

					</a>
					<a href="/pages/performancemanagementpage" class="list-group-item list-group-item-action ">
					<h6 class="mb-0">Performance Management</h6>

					</a>
					<a href="/pages/payrollmanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Pay-Roll Management</h6>
					</a>
					<a href="/pages/travelprocessmanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Travels & OD Management</h6>
					</a>
					<a href="/pages/trainingmanagementfeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Training Management</h6>
					</a>
					<a href="/pages/processautomationfeature" class="list-group-item list-group-item-action active">
					<h6 class="mb-0">Process Automation</h6>
					</a>
					<a href="/pages/documentstoragefeature" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Document Storage & Management</h6>
					</a>

					<a href="/pages/mobileapplicationpage" class="list-group-item list-group-item-action">
					<h6 class="mb-0">Mobile Application</h6>
					</a>
				</div>
			</div>
		</div>
	</div>

  <% include ../partials/footer %>
