<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<title>Best HR Portal You Will Ever Find</title>
</head>

<body class="vh-100">

<div class="back-to-top">
	<i class="fas fa-arrow-circle-up"></i>
</div>

<header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light pl-5 pr-5">
  <a class="navbar-brand" href="#">LOGO HERE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/pages/features">Features</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/pages/demo_form">Demo Request</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/pages/contact-us">Contact Us</a>
      </li>
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>-->
    </ul>
  </div>
</nav>
      </header>


	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10 col-md-5 col-sm-12 px-5">
				<!--First Division-->
				<h1 class="mt-5 pl-5 pr-5 text-center f-30 txt-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
				<hr />
				<div class="row mt-5">
				<div class="col-lg-6 col-md-6 col-sm-12 feature-txt">
						<img src="images/bg1.jpg" class="homeImg" title="" alt="" />
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 feature-txt">
						<h2 class="f-25 mb-4 txt-gray">Lorem ipsum dolor</h2>
						<h6 class="mb-1 txt-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
						<p class="f-14 text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit dolor sit amet, consectetur adipiscing elit.</p>
						<p class="txt-gray"><span>&#9679; &nbsp;</span> Lorem serum gaiop asdjwi ipusem as</p>
						<p class="txt-gray"><span>&#9679; &nbsp;</span> Lorem serum gaiop asdj</p>
						<p class="txt-gray"><span>&#9679; &nbsp;</span> Lorem serum asgaiop sawd asdj</p>
					</div>
				</div>

				<hr class="feature-divider">

				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 feature-txt">
						<h2 class="f-25 mb-4 txt-gray">Lorem ipsum dolor</h2>
						<h6 class="mb-1 txt-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
						<p class="f-14 text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit dolor sit amet, consectetur adipiscing elit.</p>
						<p class="txt-gray"><span>&#9679; &nbsp;</span> Lorem serum gaiop asdjwi ipusem as</p>
						<p class="txt-gray"><span>&#9679; &nbsp;</span> Lorem serum gaiop asdj</p>
						<p class="txt-gray"><span>&#9679; &nbsp;</span> Lorem serum asgaiop sawd asdj</p>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 feature-txt">
						<img src="images/bg1.jpg" class="homeImg" title="" alt="" />
					</div>
				</div>

			</div>



			<div class="col-lg-2 col-md-2 bg-info p-0">
				<!--Third Division-->
				<div class="list-group text-center">
					<a href="#" class="list-group-item list-group-item-action active">
					<i class="fas fa-bowling-ball fa-4x"></i>
					<h6 class="mb-0">Feature 1</h6>
					</a>
					<a href="#" class="list-group-item list-group-item-action">
					<i class="fas fa-bowling-ball fa-4x"></i>
					<h6 class="mb-0">Feature 2</h6>
					</a>
					<a href="#" class="list-group-item list-group-item-action">
					<i class="fas fa-bowling-ball fa-4x"></i>
					<h6 class="mb-0">Feature 3</h6>
					</a>
					<a href="#" class="list-group-item list-group-item-action">
					<i class="fas fa-bowling-ball fa-4x"></i>
					<h6 class="mb-0">Feature 4</h6>
					</a>
					<a href="#" class="list-group-item list-group-item-action">
					<i class="fas fa-bowling-ball fa-4x"></i>
					<h6 class="mb-0">Feature 5</h6>
					</a>
				</div>
			</div>
		</div>
	</div>










	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
