<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<title>Best HR Portal You Will Ever Find</title>
</head>

<body class="vh-100">


<header>
      <nav class="navbar navbar-expand-lg navbar-light pl-5 pr-5">
  <a class="navbar-brand" href="#">LOGO HERE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/features">Features</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Documentation</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>-->
    </ul>
  </div>
</nav>
      </header>


	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-5 col-sm-12 homeDiv1 overflow-hidden  text-center">
				<!--First Division-->
				<h2 class="mt-5 pl-5 pr-5 text-center border-btm">Nitya HRMS Portal</h2>
				<hr />

        <h4><span class="typed"></span></h4>

        <hr />
				<br>
				<br>

				<br>

				<br>

				<img src="images/bg1.jpg" class="homeImg" title="" alt="" />
			</div>

			<div class="col-lg-4 col-md-5 col-sm-12 bg-light featuresContent position-relative homeDiv2">
				<!--Second Division-->
				<div id="featuresSliderHome" class="carousel slide" data-ride="carousel" data-interval="10000">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<h2 class="text-center mt-5 mb-3">1. Some example heading here</h2>
							<hr />
							<img src="images/box-img.jpg" alt="" title="" />

							<ul class="text-justify mt-3">
								<li>Best HR Portal for tracking and managine your employees.</li>
								<li>Best HR Portal for tracking and managine your employees.</li>
								<li>Best HR Portal for tracking and managine your employees.</li>
							</ul>
						</div>
						<div class="carousel-item">
							<h2 class="text-center mt-5 mb-3">2. Some example heading here</h2>
							<hr />
							<img src="images/box-img.jpg" alt="" title="" />

							<ul class="text-justify mt-3">
								<li>Best HR Portal for tracking and managine your employees.</li>
								<li>Best HR Portal for tracking and managine your employees.</li>
								<li>Best HR Portal for tracking and managine your employees.</li>
							</ul>
						</div>
						<div class="carousel-item">
							<h2 class="text-center mt-5 mb-3">3. Some example heading here</h2>
							<hr />
							<img src="images/box-img.jpg" alt="" title="" />

							<ul class="text-justify mt-3">
								<li>Best HR Portal for tracking and managine your employees.</li>
								<li>Best HR Portal for tracking and managine your employees.</li>
								<li>Best HR Portal for tracking and managine your employees.</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="btn-group d-flex btnNextPrev" role="group">
					<button type="button" class="btn btn-secondary w-50" data-target="#featuresSliderHome" role="button" data-slide="prev">Previous</button>
					<button type="button" class="btn btn-secondary w-50" data-target="#featuresSliderHome" role="button" data-slide="next">Next</button>
				</div>
			</div>

			<div class="col-lg-2 col-md-2 bg-info homeDiv3 p-0">
				<!--Third Division-->
				<div class="list-group">
					<a href="/" class="list-group-item list-group-item-action active">HOME</a>
					<a href="/pages/features" class="list-group-item list-group-item-action">FEATURES</a>
					<a href="/pages/demo_form" class="list-group-item list-group-item-action">REQUEST FOR DEMO</a>
					<a href="#" class="list-group-item list-group-item-action">PRICING</a>
					<a href="#" class="list-group-item list-group-item-action">ABOUT US</a>
					<a href="/pages/contact-us" class="list-group-item list-group-item-action">CONTACT US</a>

				</div>
			</div>
		</div>
	</div>










	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>
  <script type="text/javascript">
    $(function(){
    	$(".typed").typed({
    		strings: [" Core HR", "Payroll", "Leave Management", "Attendance Management", "Employee Self Service Portal", "Employee App"],
    		// Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
    		stringsElement: null,
    		// typing speed
    		typeSpeed: 30,
    		// time before typing starts
    		startDelay: 1200,
    		// backspacing speed
    		backSpeed: 20,
    		// time before backspacing
    		backDelay: 500,
    		// loop
    		loop: true,
    		// false = infinite
    		loopCount: 5,
    		// show cursor
    		showCursor: false,
    		// character for cursor
    		cursorChar: "|",
    		// attribute to type (null == text)
    		attr: null,
    		// either html or text
    		contentType: 'html',
    		// call when done callback function
    		callback: function() {},
    		// starting callback function before each string
    		preStringTyped: function() {},
    		//callback for every typed string
    		onStringTyped: function() {},
    		// callback for reset
    		resetCallback: function() {}
    	});
    });

  </script>
</body>

</html>
